.container{
    width: 650px;
    height: 400px;
    background-color: aquamarine;
    margin: 10px auto;
    display: grid;
    /* grid-template-rows: 60px 60px 60px 60px 60px;
    grid-template-columns: 200px 200px 200px; */

    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    /* Gap between two div in row and column*/
    /* column-gap: 20px;
    row-gap: 15px; */
    /* Short-hand for grid gap */
    grid-gap: 15px 20px;
    /* for Horizontal in grid (Whole div) */
    justify-items: center;
     /* for Vertical in grid (Whole div)*/
     align-items: end;

}

.item{
    width: 100px;
    height: 60px;
    background-color: cyan;
    border: 2px solid black;
    text-align: center;
    

}
h1{
    text-align: center;
}

#one{
     /* for Horizontal in grid(single div) */
    justify-self: start;
}
#two{
     /* for Vertical in grid (single div)*/
     align-self: center;
}
#one{
    /* Grid column  */
    grid-column-start: 1;
    grid-column-end: 4;

    /* Short-hand Property*/
    /* grid-column: 1/4; */
    /* grid-column: 1/ span 3; */
}

#two{
    /* Grid Row */
    /* grid-row-start: 1;
    grid-row-end: 4; */

    /* Short-Hand Property */
    /* grid-row: 1/4; */
    /* grid-row: 1/ span 3; */
}