.container{
    width: 600px;
    height: 400px;
    background-color: aquamarine;
    margin: 10px auto;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px;
    grid-template-columns: 80px 80px 80px 80px;
    
}

.item{
    width: 80px;
    height: 60px;
    background-color: cyan;
    border: 2px solid black;
}
h1{
    text-align: center;
}