h1{
    /* color: aqua; */
    color: rgb(128, 0, 79);
    background-color: green;
}
p{
    font: bold;
    color: rgb(128, 0, 79);
    background-color: seashell;
}
button{
    color: blue;
    background-color: darkgoldenrod;
}
h2{
    color: #871919;
    background-color: #ffffff;
}