h1{
    text-align: center;
    /* border: solid; */
    /* width: 50%; */
    font-weight: 700;  /*Range (100-900), normal=400,bold =700*/
    text-decoration: wavy red underline;
}
p{
    text-align: justify;
}
h2{
    
    text-decoration: overline;
}
h3{
    text-decoration: line-through;
}
a{
    text-decoration: none;/*iska use hum karte hai jab pahle se koi word underline ho aur usee hume remove karna ho*/
}