/* Types of Selectors------------- */
/* 1) Universal Selectors(*): what ever style we written in this selecotrs its apply on whole page */
*{
    /* background-color: aqua;  */
    font-family: 'Courier New', Courier, monospace;
}

/* 2) Element Selector: what ever style we written in this selecotrs its apply on only those selectors like h3, p, h1 etc.. */
h3{
    color: purple;
}
h1{
    color: #b92b27;
}

/* 3) Id Selectors: Selects an element based on the value of the elements id attribute. for each tag id is unique. */
#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;
}

/* 4) Class Selectors: Selects an element based on their class attribute. we can give same classname for multiple tags*/
.upvote{
    background-color: green;
}


/* Types of Combinators----------- */
/* Descendant Selector: Target all children, grandchildren, great-grandchildren etc of an element. using space( )like: parentTag childTag{} (childtag pe property apply hoga)*/

p a{
    color: purple;
    background-color: yellow;
}

nav ul li a{
    color: pink;
}


/*Adjacent Sibiling Selector: using + operator, target the element immediatly immediate right to a specified element like brother and sister, used brother + sister (p{}h3{})*/
p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
}


/* Child Selector:using (>), Targets only direct children, no Descendent, like div{input{}} */
div > input{
    background-color: fuchsia;
}


/* Attribute Selector: select element based on the presence or value of a given attribute */
input[type="text"]{ /* if type is text then set color is blue*/
    color: blue;
}

input[type="password"]{ /* if type is password then set color is green*/
    color: green;
}

input[type]{ /*if any input tag had type attribute then set background color is ghostwhite*/
    background-color: ghostwhite;
}


/* Types of Pseudo Class */
/* 1) :hover (some times if we already set some properties by using id selector and we trying to perform hover operation so this hover properties are not applied on it) */
button:hover{
    background-color: black;
    color: white;
}

/* 2):active =>its change the properties when we clicked on itsome times if we already set some properties by using id selector and we trying to perform hover operation so this hover properties are not applied on it)*/
button:active{
    background-color: hotpink;
    color: blue;
}

p:active{
    color: springgreen;
}


/*:checked =>applies styple to input element that are checked(such as checkboxes or radio buttons)  */
input[type="radio"]:checked + label{
    color: red;
    font-weight: bolder;
}

/* :nth-of-type(int value) =>targets the nth child of a specific type */
div:nth-of-type(2n){ /*but if we write like 2n so it apply properties on every 2nd given tag*/
    background-color: yellow;
}
div:nth-of-type(3){ /*here if i pass simple 1,2.. so it count from start and apply the property on given number position*/
    background-color: yellow;
}