/* Types of Selectors------------- */
/* 1) Universal Selectors(*): what ever style we written in this selecotrs its apply on whole page */
*{
    /* background-color: aqua;  */
    font-family: 'Courier New', Courier, monospace;
}

/* 2) Element Selector: what ever style we written in this selecotrs its apply on only those selectors like h3, p, h1 etc.. */
h3{
    color: purple;
}
h1{
    color: #b92b27;
}

/* 3) Id Selectors: Selects an element based on the value of the elements id attribute. for each tag id is unique. */
#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;
}