/* Types of Selectors------------- */
/* 1) Universal Selectors(*): what ever style we written in this selecotrs its apply on whole page */
*{
    /* background-color: aqua;  */
    font-family: 'Courier New', Courier, monospace;
}

/* 2) Element Selector: what ever style we written in this selecotrs its apply on only those selectors like h3, p, h1 etc.. */
h3{
    color: purple;
}
h1{
    color: #b92b27;
}

/* 3) Id Selectors: Selects an element based on the value of the elements id attribute. for each tag id is unique. */
#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;
}

/* 4) Class Selectors: Selects an element based on their class attribute. we can give same classname for multiple tags*/
.upvote{
    background-color: green;
}


/* Types of Combinators----------- */
/* Descendant Selector: Target all children, grandchildren, great-grandchildren etc of an element. using space( )like: parentTag childTag{} (childtag pe property apply hoga)*/

p a{
    color: purple;
    background-color: yellow;
}

nav ul li a{
    color: pink;
}


/*Adjacent Sibiling Selector: using + operator, target the element immediatly immediate right to a specified element like brother and sister, used brother + sister (p{}h3{})*/
p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
}


/* Child Selector:using (>), Targets only direct children, no Descendent, like div{input{}} */
div > input{
    background-color: fuchsia;
}


/* Attribute Selector: select element based on the presence or value of a given attribute */
input[type="text"]{ /* if type is text then set color is blue*/
    color: blue;
}

input[type="password"]{ /* if type is password then set color is green*/
    color: green;
}

input[type]{ /*if any input tag had type attribute then set background color is ghostwhite*/
    background-color: ghostwhite;
}


/* Types of Pseudo Class------------------------ */
/* 1) :hover (some times if we already set some properties by using id selector and we trying to perform hover operation so this hover properties are not applied on it) */
button:hover{
    background-color: black;
    color: white;
}

/* 2):active =>its change the properties when we clicked on itsome times if we already set some properties by using id selector and we trying to perform hover operation so this hover properties are not applied on it)*/
button:active{
    background-color: hotpink;
    color: blue;
}

p:active{
    color: darkgreen;
    font-size: larger;
}


/*:checked =>applies styple to input element that are checked(such as checkboxes or radio buttons)  */
input[type="radio"]:checked + label{
    color: red;
    font-weight: bolder;
}

/* :nth-of-type(int value) =>targets the nth child of a specific type */
div:nth-of-type(2n){ /*but if we write like 2n so it apply properties on every 2nd given tag*/
    background-color: yellow;
}
div:nth-of-type(3){ /*here if i pass simple 1,2.. so it count from start and apply the property on given number position*/
    background-color: yellow;
}
h1:hover{
    cursor: pointer;
}

/* TYpes of  Pseudo Elements-----------------------*/
/* A keyword added to a selector that lets u sytle a specifi part of the selected elements */

/* 1)::first-letter =>apply the property on first letter of selected element */
h1::first-letter{
    color: darkgreen;
    font-size: larger;
}
/* this property can't affect on first-letter of h1 */
/* h1:hover{ 
    color: black;
} */


/* 2)::first-line =>apply the property on the first line of the selected element*/
p::first-line{
    color: blue;
    font-size: larger;
} 


/* 3)::selection =>apply the property on the selected part on the select element */
p::selection{
    color: darkorchid;
    font-size: larger;
    background-color: aqua;
}

/* Note: if i used attribute as user-select: none; then it will turn off the selection if u select the text content it won't be visible as selection means selection property not apply */
.post{
    user-select: none;
}

/* 4)::spelling-error => A portion of text that the browser thinks is misspelled.*/
p::spelling-error{
    text-decoration: wavy red underline;
}

/* 5)::before => apply the property just before to the selected element*/
.nav::before{
    content: "🔗";
}


/* 6)::after => apply the property just after to the selected element*/
h3::after{
    content: "✔️";
}


/* 7)::marker =>change the bullet points symbols using marker, here we can pass any text content or any emoji */
/* Change the bullet color black to red */
ul li::marker{
    color: red;
    font-size: large;
}
/* also replace the bullet points with emoji */
ul li::marker{
    content: "🥹";
}


/* 8)::placeholder => change the style of the placeholder of input element*/
div > input::placeholder{
    font-weight: bold;
    opacity: 0.5;
    color: red;
}

