/* Universal Selector */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Element Slector */
h3{
    color: aqua;
}
h1,h3{      
    color: purple;   /*agr hume same property ko do tag pe lagana ho to aise laga skt hai*/
}


/* Id Selector */
#login{
    background-color: wheat;
    color: purple;
}
#signup{
    background-color: wheat;
    color: brown;
}

/* Class Selector */
.upvote{
    color: blue;
    background-color: azure;
}

/* Descendent Selector */
.post a{
    color: aquamarine;
    background-color: yellow;
}
nav ul li a{
    color: hotpink;
}

/* Adjacent Sibling Combinator */
p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: slateblue;
    color:darkgreen;
}

/* Child Combinator */
div > input{
    background-color: aqua;
}

/* Attribute Selector */
input[type="text"]{
    color: blue;
}
input[type="password"]{
    color: red;
}
input[type="text"]{
    text-decoration: underline;
}

/* Hover class */
button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

/* Active class */
button:active{
    background-color: hotpink;
    color: black;
}

/* CHecked class */
input[type="radio"]:checked + label{
    color: hotpink;
    font-weight: bold;
    cursor: pointer;
}

/* :nth-of-type() */
div:nth-of-type(2n){
    background-color: violet;
}

/* ::first-letter */
h1::first-letter{
    color: red;
}

/* ::first-line */
p::first-line{
    color: darkcyan;
}

/* ::selection */
p::selection{
    background-color: chartreuse;
    color: darkmagenta;
}