div{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    /* Transition properties */
    /* transition-property: margin-top;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.2s; */
    /* Short-Hand property------ */
    transition: margin-top 1s ease 0.2s;
    text-align: center;
}
div:hover{
    background-color: brown;
    margin-top: 50px;
    /* width: 300px; */
}